
  <div class="position-relative force-height">
  <div class="position-absolute top-50 start-50 translate-middle">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row">
    <div class="col">
      <img src="https://media.istockphoto.com/id/1181901560/fr/vectoriel/couleur-modifiable-de-mod%C3%A8le-dic%C3%B4ne-de-piment-noir-jalapeno-ou-piments-symbole-signe.jpg?s=612x612&w=0&k=20&c=0IfnatEKnvwB-QxVMXwnKQanyDgVO-nU66uXqp_UfQ0=" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">{{ pimentDetail?.name }}</h5> <!--  pipe pour uppercase -->
        <p class="card-text">{{ pimentDetail?.description }}</p>
        <p class="card-text">{{ pimentDetail?.category}}</p>
        <p class="card-text">{{ pimentDetail?.scovilleScale}}</p>
        <p class="card-text">{{ pimentDetail?.price}}</p>
      </div>
    </div>
  </div>
  <p>
    <a class="btn btn-primary" routerLink='/shop'> Back to Shop</a>
  </p>
</div>
</div>
</div>